video{
    position: absolute;
    top: 3%;
    left: 80%;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
}
#button{
    position: absolute;
    background:none;
    left: 3%;
    top: 3%;
    border: none;
    width: 90px;
    height: 50px;
    background-color: black;
    color: white;
    text-decoration: line-through;
}
#button:hover{
    cursor: pointer;
}
#range{
    position: absolute;
    background: none;
    width: 100px;
    top: 10%;
    left: 80%;
}
#val{
    position: absolute;
    background: none;
    width: 100px;
    top: 10%;
    left: 4%; 
}
